/*=============== index-html ===================*/

body {

}

#title {
    margin-top: 70px;
    margin-left: 475px;
    height: 89px;
    width: 450px;
    background-image: url(../img/simple-simon.jpg);
}


#game-start {


}

#game-exit {


}

#game-win {


}

#game-lose {


}



/*=============== game-play-html ================*/


.button {


}

.blink {


}

#container {
    position: relative;
    padding: 0px;


}

#console {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    padding: 0px;
    z-index: -3;

}

map {
    z-index: -1;
}

#counter {
    color: red;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 330px;
    margin-left: 676px;
    padding: 0px;
    z-index: -1;
}

#start {
    /*background-color: yellow;*/
    position: absolute;
    width: 17px;
    height: 18px;
    margin-left: 723px;
    margin-top: 332px;

}


.stop {
    background-color: red;
    position: absolute;
    width: 17px;
    height: 18px;
    margin-left: 723px;
    margin-top: 332px;
}

#red {
    position: absolute;
    width: 450px;
    height: 450px;
    /*top: 0;
    right: 0;
    border-radius: 0 100% 0 0;*/
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

#blue {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

#green {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

#yellow {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

.red {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

.blue {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

.green {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}

.yellow {
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    margin-left: 480px;
    z-index: -1;
}